body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* Header Section */

header {
  display: flex;
}

header img {
  padding-left: 10px;
  height: 50px;

}
